.cart{
    padding-left: 23px;
    position: sticky;
    top: 0;
}
.clear-btn{
    width: 90%;
    background-color: brown;
    margin-bottom: 10px;
}
.clear-btn span{
    margin-right: 10px;
    color: white;
}